body {
  background-color: darkred;
  font-family: Arial;
}

#container {
  background-color: white;
  width: 80%;
  margin-left: 7%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  background-color: white;
  border-top: solid black 1px;
  text-align: center;
}

.footerContent {
  height: 0px;
  margin: auto;
}

.classesTable {
  border-collapse: collapse;
}

table,
th,
td,
thead {
  border: 1px black solid;
  padding: 3px 10px;
}

th {
  font-size: 115%;
}

nav {
  width: 100%;
  table-layout: fixed;
}

.navItem {
  text-align: center;
}

@media (max-width: 550px) {
  nav {
    display: block;
  }
  .navItem {
    display: block;
  }
  footer {
    position: inherit;
  }
  #container {
    margin-bottom: 10px;
  }
}

@media (min-width: 549px) {
  nav {
    display: table;
  }
  .navItem {
    display: table-cell;
  }
  footer {
    position: fixed;
  }
  #container {
    margin-bottom: 60px;
  }
}
